<clr-radio-container (change)="debouncer.next(true)">

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="0" [(ngModel)]="dias" #hoje />
        <label>Hoje</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="7" [(ngModel)]="dias" #semana />
        <label>Da semana</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="30" [(ngModel)]="dias" #mes />
        <label>Do mês</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="365" [(ngModel)]="dias" #ano />
        <label>Do ano</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="TODOS" [(ngModel)]="dias" #todos />
        <label>Todos</label>
    </clr-radio-wrapper>

</clr-radio-container>