<clr-radio-container (change)="changes.next(true)">

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="A" [(ngModel)]="selected" #atendido />
        <label>Atendido</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="C" [(ngModel)]="selected" #cancelado />
        <label>Cancelado</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="P" [(ngModel)]="selected" #pendente />
        <label>Pendente</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="T" [(ngModel)]="selected" #transferido />
        <label>Transferido</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="TODOS" [(ngModel)]="selected" #todos />
        <label>Todos</label>
    </clr-radio-wrapper>

</clr-radio-container>