<clr-radio-container (change)="debouncer.next()">
    <clr-radio-wrapper>
        <input type="radio" clrRadio value="A" [(ngModel)]="value" #ativos />
        <label>Ativos</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="I" [(ngModel)]="value" #inativos />
        <label>Inativos</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="" [(ngModel)]="value" #todos />
        <label>Todos</label>
    </clr-radio-wrapper>
</clr-radio-container>