<clr-radio-container (change)="changes.next()">
    <label>Situação</label>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="A" [(ngModel)]="selected" />
        <label>Ativos</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="I" [(ngModel)]="selected" />
        <label>Inativos</label>
    </clr-radio-wrapper>

    <clr-radio-wrapper>
        <input type="radio" clrRadio value="TODOS" [(ngModel)]="selected" />
        <label>Todos</label>
    </clr-radio-wrapper>
</clr-radio-container>