<table class="table table-vertical">
    <tbody>
        <tr>
            <th>Divisão</th>
            <td>{{ pedvend.divisaoId }}</td>
        </tr>
        <tr>
            <th>Pedido</th>
            <td>{{ pedvend.numero }}</td>
        </tr>
        <tr>
            <th>Cliente</th>
            <td>{{ pedvend.cliente }}</td>
        </tr>
        <tr>
            <th>Entrada</th>
            <td>{{ pedvend.entrada | date : 'shortDate' }}</td>
        </tr>
        <tr>
            <th>Entrega</th>
            <td>{{ pedvend.entrega | date : 'shortDate' }}</td>
        </tr>
        <tr>
            <th>Representante</th>
            <td>{{ pedvend.repres }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-vertical">
    <tbody>
        <tr>
            <th>Situação</th>
            <td>{{ pedvend.situacao | situacao }}</td>
        </tr>
        <tr>
            <th>Análise Financeira</th>
            <td>{{ pedvend.financeiro | financeiro }}</td>
        </tr>
        <tr>
            <th>Análise Comercial</th>
            <td>{{ pedvend.comercial | comercial }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-vertical">
    <tbody>
        <tr>
            <th>Tipo de Frete</th>
            <td>{{ pedvend.tipoFrete }}</td>
        </tr>
        <tr>
            <th>Transportadora</th>
            <td>{{ pedvend.transp }}</td>
        </tr>
        <tr>
            <th>Condição de Pagamento</th>
            <td>{{ pedvend.condPgto }}</td>
        </tr>
        <tr>
            <th>Observações</th>
            <td>{{ pedvend.observacoes }}</td>
        </tr>
    </tbody>
</table>