<table class="table table-vertical">
    <tbody>
        <tr>
            <th>Divisão</th>
            <td>{{ pedvend.divisao }}</td>
        </tr>
        <tr>
            <th>Pedido</th>
            <td>{{ pedvend.pedido }}</td>
        </tr>
        <tr>
            <th>Cliente</th>
            <td>{{ pedvend.cliente.nome }}</td>
        </tr>
        <tr>
            <th>Entrada</th>
            <td>{{ pedvend.entrada | date : 'shortDate' }}</td>
        </tr>
        <tr>
            <th>Entrega</th>
            <td>{{ pedvend.entrega | date : 'shortDate' }}</td>
        </tr>
        <tr>
            <th>Representante</th>
            <td>{{ pedvend.represNome }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-vertical">
    <tbody>
        <tr>
            <th>Situação</th>
            <td>{{ pedvend.situacao | situacao }}</td>
        </tr>
        <tr>
            <th>Análise Financeira</th>
            <td>{{ pedvend.financeiro | financeiro }}</td>
        </tr>
        <tr>
            <th>Análise Comercial</th>
            <td>{{ pedvend.comercial | comercial }}</td>
        </tr>
    </tbody>
</table>