<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">

    <clr-dg-column [clrDgField]="'pedido'">
        Pedido
    </clr-dg-column>

    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: true}">Divisao</ng-container>
    </clr-dg-column>

    <clr-dg-column [clrDgField]="'diasEntrada'" [clrFilterValue]="'90'">
        Entrada
        <clr-dg-filter [clrDgFilter]="entradaFilter">
            <app-pedvend-datagrid-filter-entrada #entradaFilter></app-pedvend-datagrid-filter-entrada>
        </clr-dg-filter>
    </clr-dg-column>

    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">Previsão Entrega</ng-container>
    </clr-dg-column>

    <clr-dg-column [clrDgField]="'clienteNome'">
        Cliente
        <clr-dg-filter>
            <app-datagrid-filter-string property="clienteNome"></app-datagrid-filter-string>
        </clr-dg-filter>
    </clr-dg-column>

    <clr-dg-column [clrDgField]="'clientePedido'">
        <ng-container *clrDgHideableColumn="{hidden: true}">Pedido Cliente</ng-container>
    </clr-dg-column>

    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">Representante</ng-container>
    </clr-dg-column>

    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: true}">Financeiro</ng-container>
    </clr-dg-column>

    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: true}">Comercial</ng-container>
    </clr-dg-column>

    <clr-dg-column>
        Situação
        <clr-dg-filter [clrDgFilter]="situacaoFilter">
            <app-pedvend-datagrid-filter-situacao #situacaoFilter></app-pedvend-datagrid-filter-situacao>
        </clr-dg-filter>
    </clr-dg-column>

    <clr-dg-row *ngFor="let pedido of pedidos" [clrDgItem]="pedido.id">
        <clr-dg-cell>{{ pedido.pedido }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.divisao }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.entrada | date : 'shortDate' }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.entrega | date : 'shortDate' }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.clienteNome }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.clientePedido }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.represNome }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.financeiro | financeiro}}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.comercial | comercial }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.situacao | situacao }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-detail *clrIfDetail="let id">
        <clr-dg-detail-header>Detalhes do Pedido</clr-dg-detail-header>
        <clr-dg-detail-body>
            <app-pedvend-datagrid-detail [id]="id"></app-pedvend-datagrid-detail>
        </clr-dg-detail-body>
    </clr-dg-detail>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="total">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">Pedidos por página</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} pedidos
        </clr-dg-pagination>
    </clr-dg-footer>

    <clr-dg-placeholder>Nenhum pedido de venda localizado</clr-dg-placeholder>
</clr-datagrid>