<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">

    <clr-dg-column [clrDgField]="'pedido'">
        Pedido
    </clr-dg-column>

    <clr-dg-column [clrDgField]="'divisao'" [clrDgSortBy]="null">
        Divisao
    </clr-dg-column>

    <clr-dg-column [clrDgField]="'dias'" [clrFilterValue]="'180'">
        Entrada
        <clr-dg-filter [clrDgFilter]="entradaFilter">
            <app-pedvend-datagrid-filter-entrada #entradaFilter></app-pedvend-datagrid-filter-entrada>
        </clr-dg-filter>
    </clr-dg-column>

    <clr-dg-column [clrDgField]="'cliente'">
        Cliente
        <clr-dg-filter>
            <app-pedvend-datagrid-filter-cliente></app-pedvend-datagrid-filter-cliente>
        </clr-dg-filter>
    </clr-dg-column>

    <clr-dg-column>
        Representante
    </clr-dg-column>

    <clr-dg-column>
        Situação
        <clr-dg-filter [clrDgFilter]="situacaoFilter">
            <app-pedvend-datagrid-filter-situacao #situacaoFilter></app-pedvend-datagrid-filter-situacao>
        </clr-dg-filter>
    </clr-dg-column>

    <clr-dg-row *ngFor="let pedido of pedidos" [clrDgItem]="pedido.id">
        <clr-dg-cell>{{ pedido.pedido }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.divisao }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.entrada | date : 'shortDate' }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.clienteNome }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.represNome }}</clr-dg-cell>
        <clr-dg-cell>{{ pedido.situacao | situacao }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-detail *clrIfDetail="let id">
        <clr-dg-detail-header>Detalhes do Pedido</clr-dg-detail-header>
        <clr-dg-detail-body>
            <app-pedvend-datagrid-detail [id]="id"></app-pedvend-datagrid-detail>
        </clr-dg-detail-body>
    </clr-dg-detail>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="total">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">Pedidos por página</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} pedidos
        </clr-dg-pagination>
    </clr-dg-footer>

    <clr-dg-placeholder>Nenhum pedido de venda localizado</clr-dg-placeholder>
</clr-datagrid>